DATABASE_URL=postgresql+asyncpg://postgres:JmTlPjiLXjAccOxrbZsmeXIWapycTqEg@hopper.proxy.rlwy.net:44368/railway
SECRET_KEY=your-secret-key-here-change-this
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200
ESKIZ_EMAIL=matvafayevxasanboy@gmail.com
ESKIZ_PASSWORD=QF6G2M27bICVimLO628DEpJPTCMlqacwdFhigrJy
UPLOAD_DIR=uploads
MAX_IMAGE_SIZE=10485760
